<!DOCTYPE html>
<html>
  <head>
    <title>ImageResize</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>
  <body>
   


    <header class ='resize'> <!--changed from bayarea -->



      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:5000">ImageResize</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
          </div>
        </div>
      </nav>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>